/* Medium Screen */
@media (max-width: 1100px) {
  .menu-elements {
    display: none;
  }
}

/* Small Screen */
@media (max-width: 800px) {
  .login-button,
  .signup-button,
  .search-form,
  .nav-button {
    display: none;
  }
  .my-dropdown-menu,
  .small-screen-search {
    display: inline;
  }
  .small-screen-text {
    display: block;
  }
  .offers-text-box {
    display: none;
  }
}
